html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
img,
input,
button,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
#app {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 1200px;
  align-items: center;
  justify-content: start;
  position: absolute;
}
body {
  width: 100vw;
  height: 100vh;
  color: whitesmoke;
  background-image: url(../imgs/index_bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  padding-top: 10px;
  height: 100%;
  margin: 0 30px 0 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #a0ffd1, #ffffff);
  -webkit-background-clip: text;
  color: transparent;
}
.title .t_con {
  width: auto;
  margin-left: -10px;
}
.title .t_con .t_name {
  font-size: 25px;
  margin-top: 15px;
}
.title .t_con .t_set {
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.title .t_con .t_set img {
  width: 25px;
}
.title .t_img {
  width: 200px;
}
.slide_bar {
  z-index: 3;
  background: rgba(0, 0, 0, 0.768);
  color: rgba(245, 245, 245, 0.571);
  position: fixed;
  right: 0;
  height: 100vh;
  width: 200px;
  font-weight: 100;
  font-size: 20px;
  border-left: 1px solid rgba(83, 78, 78, 0.639);
  transition: 0.5s;
  overflow-x: hidden;
}
.slide_bar .s_con {
  width: 200px;
  height: 100vh;
}
.slide_bar .s_close {
  height: 70px;
  display: flex;
  flex-direction: row-reverse;
}
.slide_bar .s_close i {
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin: 9px 3px;
  color: rgba(245, 245, 245, 0.619);
}
.slide_bar .s_close i:hover {
  color: #ffffff;
  text-shadow: 0 0 0.2em #00ff91, 0 0 0.2em #00f2ff;
}
.slide_bar .s_ava_name img {
  width: 70px;
  margin: 20px 0 0 20px;
}
.slide_bar .s_ava_name .s_name:hover {
  color: #ffffff;
  text-shadow: 0 0 0.2em #00ff91, 0 0 0.2em #00f2ff;
}
.slide_bar .s_ul {
  margin: 50px;
}
.slide_bar .s_li {
  list-style: none;
  margin: 10px 0;
}
.slide_bar .s_li:hover {
  color: #ffffff;
  text-shadow: 0 0 0.2em #00ff91, 0 0 0.2em #00f2ff;
}
.temp_damp {
  margin-right: 10px;
  width: 450px;
  height: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.temp_damp .map {
  position: relative;
  width: 100%;
  height: 300px;
  padding: 20px 0 0 20px;
  border-radius: 10px;
  background: rgba(71, 61, 61, 0.782);
}
.temp_damp .map canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.temp_damp .map .tt {
  position: absolute;
  right: 32px;
  bottom: 37px;
  font-size: 22px;
}
.air_light {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 630px;
}
.air_light .option {
  margin-left: 50px;
  display: flex;
  align-items: flex-end;
}
.air_light .option .big {
  padding: 7px 10px;
  background: rgba(92, 223, 129, 0.71);
}
.air_light .option li {
  cursor: pointer;
  border-radius: 10px 10px 0 0 ;
  list-style: none;
  padding: 5px;
  background: rgba(57, 48, 48, 0.782);
  border-bottom: 1px solid rgba(65, 233, 79, 0.748);
}
.air_light .air {
  border-radius: 15px;
  background: rgba(57, 48, 48, 0.782);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  position: relative;
}
.air_light .air .screen {
  border: 1px solid rgba(245, 245, 245, 0.694);
  border-radius: 10px;
  margin-top: 20px;
  width: 340px;
  height: 200px;
  position: relative;
}
.air_light .air .screen .switch_state {
  position: absolute;
  top: 10px;
  left: 15px ;
}
.air_light .air .screen .switch_state .off {
  color: red;
}
.air_light .air .screen .on_dispel_damp {
  position: absolute;
  top: 10px;
  right: 15px;
}
.air_light .air .screen .show_temp {
  font-size: 50px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.air_light .air .screen .mode_wind {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.air_light .air .opr {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.air_light .air .opr .items {
  margin: 10px 0;
  position: relative;
  width: 287px;
}
.air_light .air .opr .items .on_off {
  position: absolute;
  right: 30px;
  top: 32px;
}
.air_light .air .opr .items .remove_damp {
  position: absolute;
  right: 30px;
  top: 93px;
}
.air_light .air .opr #wind_s {
  display: flex;
  align-items: center;
}
.air_light .air .opr .radio_con {
  margin: 8px 0;
}
.air_light .light {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background: rgba(57, 48, 48, 0.782);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.air_light .light .four_modules {
  position: relative;
  width: 95%;
  height: 135px;
  border: 1px solid #878383;
  border-radius: 5px;
}
.air_light .light .four_modules .inp {
  display: none;
}
.air_light .light .four_modules .slide {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 3;
}
.air_light .light .four_modules label {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 3;
}
.air_light .light .four_modules .room_name {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 3;
}
.air_light .light .four_modules .room_name_on {
  color: #000;
  font-weight: bold;
}
.air_light .light .four_modules .db_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 5px;
}
.air_light .light .four_modules .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 5px;
  background: #000;
}
#num::-webkit-outer-spin-button,
#num::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#num[type="number"] {
  -moz-appearance: textfield;
}
